@inherits LayoutComponentBase

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-5 mt-5 shadow p-3 mb-5 bg-white rounded">
            @Body
        </div>
    </div>
</div>