@page "/account/forgotpassword"
@layout AuthLayout
@inject HttpClient Http
@using CompTrain.Shared.Models.Account;
@inject NavigationManager navManager


        @if ((forgotPasswordResponse?.IsSuccess).GetValueOrDefault() == false)
        {
            <h2 class="text-center">Forgot password</h2>
            <EditForm Model="model" OnValidSubmit="ResetPassword">
                <div class="form-group">
                    <label for="email">Email</label>
                    <InputText @bind-Value="model.Email" id="email" class="form-control form-control-sm" type="email" />
                </div>

                <DataAnnotationsValidator />
                <ValidationSummary />
                <Alert Title="Attenzione" ErrorList="forgotPasswordResponse?.Errors" />
                <button type="submit" class="btn btn-warning btn-block mr-2">RESET PASSWORD</button>

            </EditForm>
            <hr />
            <div class="row">
                <div class="col">
                    <a class="btn btn-block btn-sm mr-2 btn-outline-success" href="/account/login">login</a>
                </div>
                <div class="col">
                    <a class=" btn btn-block btn-sm mr-2 btn-outline-primary" href="/account/register">register</a>
                </div>
            </div>
        }
        else
        {
            <EmailSent Email="@model.Email" />
        }

@code {
    ForgotPasswordRequest model = new ForgotPasswordRequest();
    ForgotPasswordResponse forgotPasswordResponse = null;

    public async Task ResetPassword()
    {
        var response = await Http.PostAsJsonAsync<ForgotPasswordRequest>("api/accounts/forgotpassword", model);
        forgotPasswordResponse = await response.Content.ReadFromJsonAsync<ForgotPasswordResponse>();
    }
}
